@use 'styles/functions';
@use 'styles/mixins';

/** Mixin for the drawer and the standalone component. */
@mixin navigation {
  & > .title {
    font-size: 1.6rem;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
  }

  & > .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6rem;
    padding: 1.3rem 0px;

    & > .item {
      display: flex;
      width: 100%;

      & > button,
      & > a {
        display: flex;
        padding: 1rem;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
      }
    }

    &.available {
      margin-bottom: 1rem;
    }

    &.presets {
      & > .item {
        & > button,
        & > a {
          border: 2px dashed var(--text-disabled);
        }
      }
    }
  }
}

.drawer {
  width: fit-content;
  height: fit-content;
  position: fixed;
  z-index: var(--drawer);
  top: 0px;
  left: 0px;

  & > .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 1rem;
    background-color: var(--background-sheet);
    position: absolute;
    z-index: calc(var(--drawer) - 100);
    border-radius: 50%;
    cursor: pointer;

    path {
      stroke: var(--text-primary);
    }
  }

  & > .content {
    display: flex;
    padding: 0.8rem;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    background-color: var(--background-sheet);
    padding-top: 5rem;
    overflow-x: auto;
    z-index: calc(var(--drawer) - 200);

    @include navigation;

    & > .new-game {
      margin-top: auto;
      display: flex;
      padding: 1rem;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      border: 2px dashed #323232;
    }
  }

  & > .backdrop {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: functions.reduce-transparency(var(--black), 95%);
    z-index: -1;
  }
}

.standalone-navigation {
  width: 100%;

  @include navigation;

  & > .navigation {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));

    @include mixins.small-device {
      gap: 0.2rem;
      grid-template-columns: repeat(1, minmax(10rem, 1fr));
    }
  }
}
