.selected-game {
  & > .title {
    margin-bottom: 2rem;
    color: inherit;

    & > img {
      height: 10rem;
      object-fit: contain;
    }

    & > h1 {
      padding-top: 1rem;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      color: inherit;
    }
  }

  & > .categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
    gap: 0.7rem;
    width: 100%;
  }
}
