html,
body {
  font-family: Inter, Roboto, Oxygen, Ubuntu, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-main);
  color: var(--text-primary);
  scroll-behavior: smooth;
}
