html {
  font-family: Inter, Roboto, Oxygen, Ubuntu, sans-serif;
  min-height: 100vh;

  color: var(--text-primary);
  background-color: var(--background-main);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  min-height: 100vh;
}
